# Dependency directories
node_modules/

# Environment variables
.env

# Build output
dist/
client/dist
build/

# Logs
logs/
*.log

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp

# Bun
#bun.lockb

# Pylon specific
.pylon/
